.create-password-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 50px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.create-password-form {
  width: 100%;
}

.create-password-button {
  width: 100%;
}
